@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");

::selection {
  background-color: #ffdc00;
  color: #000;
}

:root {
  --normal_button_bg: red;
  --dark_button_bg: red;
  --normal_body_bg: red;
  --body_bg_color: #f2f1f1;
  --text_color: #444452;
  --dark_lighr_text_color: red;
  --text_light_color: var(--text_color);
  ;
  --blue_text_color: #007bff;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body_bg_color);
  color: var(--text_color);
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.text_light {
  color: var(--text_light_color);
  margin: 0;
}

body[data-theme='dark'] {
  --normal_button_bg: #808080;
  --dark_button_bg: #bae67e;
  --normal_body_bg: #ffffff;
  --body_bg_color: #171c28;
  --normal_text_color: #444452;
  --text_color: #e7e7e7;
  --text_light_color: #b0b0b0;
  --dark_lighr_text_color: #afafbf;
  --blue_text_color: #007bff;
}

/* generic */
.capitalize {
  text-transform: capitalize;
}

.m0 {
  margin: 0;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

header,
section {
  padding: 100px 170px;
}

@media screen and (max-width: 1280px) {

  header,
  section {
    padding: 100px;
  }
}

@media screen and (max-width: 1024px) {

  header,
  section {
    padding: 50px;
  }
}

@media screen and (max-width: 480px) {

  header,
  section {
    padding: 50px 35px;
  }
}